@import './base.css';

html,
body {
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
}

#app {
  height: 100vh !important;
  overflow: auto;
  display: flex;
  flex-direction: column;
}