@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
}

#app {
  height: 100vh !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.woosh_background {
    width: 100vw;
    height: 100vh;
    background: url('../assets/Green Woosh.svg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}