@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
}

#app {
  height: 100vh !important;
  overflow: auto;
  display: flex;
  flex-direction: column;
}